body{
    background-color: #F8E7D4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    padding: 0;
    margin: 0;
}
h1{
    color: white;
}
.start-container,
.difficulty,
.game,
.final{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    background-color: #46b252;
    gap: 2vh;
    width: 100%;
    height: 100%;
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
}
.difficulty{
    background-image: url("./img/selectionbackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -20vh;
    background-size: 110vh;
}
.whole-question{
    position: relative;
    top: -3vh;
}
.question-container{
    display: grid;
    gap: 3vmin;
    grid-template-columns: repeat(7, 9vmin);
    grid-template-rows: repeat(2, 12vmin);
}
.question-container1{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    bottom: -3vmin;
    gap: 3vmin;
}
.select-difficulty{
    position: relative;
    top: -3vh;
    width: 30vh;
}
.select-title{
    position: relative;
    top: -10vh;
}
img{
    width: 11vmin;
}
.text{
    width: 30vmin;
}
.title,
.select-title{
    width: 70%;
}
.preview{
    width: 97vmin;
}
button{
    background-color: rgba(255, 255, 255,0);
    border: 0px;
    border-radius: 20px;
}
.btn{
    width: 40vh;
    height: 10vh;
}
.hubtn{
    position: absolute;
    width: 40vmin;
    height: 12vmin;
    display: flex;
    bottom: -37vmin;
}
.winNext{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.easy{
    left: 1vh;
}
.hard{
    right: 1vh;
}
.hide{
    display: none;
    visibility: hidden;
}
.easy-container,
.hard-container,
.normal-container{
    position: absolute;
    top: 15vh;
}
h1{
    position: absolute;
    top: 2vh;
    margin: 1vh;
}
h2{
    color: white;
    font-weight: 200;
    margin: 0;
}
.options{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 20vmin);
    grid-template-rows: repeat(1, 17vmin);
    width: 45vmin;
    height:17vmin;
    justify-content: center;
}
div{
    color: white;
    font-size: larger;
}
.correct{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 20;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
}
.questionNumber{
    position: relative;
    top: -5vh;
    font-family: "Lilita One";
    font-size: 6vh;
    margin: 0vh;
    color: #FFF8E0;
}
.small{
    width: 90vmin;
}
.imgBig{
    width: 40vh;
    height: 100%;
}
.center{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bigText{
    width: 30vh;
}
.picture{
    display: flex;
}
.imgMid{
    margin: 0 auto;
    width: 60%;
    height: auto;
}
.topRight{
    position: absolute;
    display: flex;
    top: 1vh;
    right: 1vh;
}
.icon{
    width: 7vh;
}

#btn1,#btn2,#btn3,#btn4{
    position: relative;
}
#btn1 img, #btn2 img, #btn3 img, #btn4 img{
    position: relative;
    z-index: 10;
}
.overlay{
    position: absolute !important;
    top: -5px;
    right: 10px;
    display: flex;
    z-index: 0 !important;
    width: 70%;
}

/*ipad*/
@media screen and (min-width: 768px) and (max-width: 1199px){
    .overlay{
        top: 0px;
        right: 28px;
        width: 65%;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
    .title,.select-title{
        max-width: 150px;
    }
    .overlay{
        top: -2px;
        right: 20px;
        width: 65%;
    }
    .imgMid{
        width: 50%;
    }
}

@media screen and (max-width:767px){
    .endTitle {
      display: none;
    }
  }