/*mobile*/
body {
    font-family: 'noto';
    margin: 0;
    padding: 0;
    background-color: #ACB8E8;
}

.start, .selection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    height: auto;
}

.image{
    width: 70%;
}

.hide{
    display: none;
    visibility: hidden;
}

.title{
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}

button{
    background-color: transparent;
    border: 0px;
    width:100%;
    padding: 2.5% 5%;
}

.startbtn{
    max-width: 250px;
}

#board {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    gap: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    flex-wrap: wrap;
    background: white;
}

.boardP4{
    grid-template-columns: repeat(2, 150px) !important;
    grid-template-rows: repeat(2, 150px) !important;
}

.boardP4 img{
    width: 147px !important;
    height: 147px !important;
}

.boardP6{
    grid-template-columns: repeat(3, 100px) !important;
    grid-template-rows: repeat(2, 150px) !important;
}

.boardP6 img{
    width: 94px !important;
    height: 147px !important;
}

.boardP9{
    grid-template-columns: repeat(3, 100px) !important;
    grid-template-rows: repeat(3, 100px) !important;
}

.boardP9 img{
    width: 94px !important;
    height: 94px !important;
}

.guide1, .guide2, .guide3, .guide4, .guide5, .guide6,.guide7, .guide8, .guide9 {
    opacity: 50%;
}

#pieces{
    width: 300px;
    height: 300px;
    gap: 1%;
    padding: 5px;
    margin: 0 auto;
    display: grid;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#pieces img{
    justify-self: center;
    cursor: pointer;
    box-sizing:border-box;
}

.instruction {
    justify-content: center;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding: 15px 40px;
}

.right{
    opacity: 0%;
}

.done{
    opacity: 100%;
}
.final{
    height: 100vh;
    width: 100%;
    text-align: center;
}
.name{
    margin: 10px;
    font-size: 40px;
    font-style: italic;
}
.final .end{
    display: flex;
    margin: 0 auto;
    max-width: 70%;
}
.tick{
    max-width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
}