/*mobile*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #DFB992;
    position: fixed;
    overflow: hidden;
}

*{
    font-family: 'Lilita One', cursive;
}

.start, .selection, .final{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: auto;
}

.final{
    justify-content: center;
}

.game{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.selection p{
    font-size: 20px;
    color: #552E00;
}

.game-title p {
    font-size: 50px !important;
    color: #552E00;
}

.choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px);
    padding: 2.5%;
}

.buttons{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    padding: 2.5%;
}

.startButton{
    width: 100%;
    position: relative;
    align-self: center;
    background-color: #7C6A4D;
    box-shadow: 0px 8px #552E00;
    border: 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    padding: 5% 5%;
    margin-bottom: 10%;
    color: white;
    font-size: 25px;
}

.againButton, .homeButton{
    background-color: #FFF8E0;
    box-shadow: 0px 8px #552E00;
    color: #552E00;
}

.homeButton{
    background-color: #552E00 !important;
    box-shadow: 0px 8px #FFF8E0 !important;
    color: white !important;
}

.easy, .normal, .hard, .againButton, .homeButton{
    width: 100%;
    position: relative;
    align-self: center;
    background-color: #FFFCFA;
    box-shadow: 0px 8px #552E00;
    border: 0px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 2.5%;
    margin-bottom: 25px;
    color: #552E00;
    font-size: 25px;
}

.startButton p, .startGame p,.easy p, .normal p, .hard p, .againButton p, .homeButton p {
    margin: 3%;
    margin-right: 6%;
}

.startButton:active,.startGame:active,.readyButton:active,.easy:active,.normal:active,.hard:active,.againButton:active,.homeButton:active{
    animation: animate 0.2s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg) translateX(0px);
    }
    25%{
        transform: rotate(-20deg) translateX(-10px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(20deg) translateX(10px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
    }
}

.words{
    font-size: 20px;
    width: 100%;
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 500;
}

.arrowHead{
    margin-right: 10px;
    max-width: 15px;
    height: auto;
}

.image{
    width: 90%;
}

.hide{
    display: none;
    visibility: hidden;
}

.title{
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}

button{
    background-color: transparent;
    border: 0px;
    width:100%;
    padding: 2.5% 5%;
}

.round{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 30px;
}

.round p {
    margin-bottom: 0;
}

#board {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    gap: 1%;
    margin-top: 20px;
    margin-bottom: 5px;
    display: grid;
    flex-wrap: wrap;
}

.boardP4{
    grid-template-columns: repeat(2, 140px) !important;
    grid-template-rows: repeat(2, 140px) !important;
}

.boardP4 img{
    width: 137px !important;
    height: 137px !important;
}

.boardP6{
    grid-template-columns: repeat(3, 93px) !important;
    grid-template-rows: repeat(2, 140px) !important;
}

.boardP6 img{
    width: 90px !important;
    height: 137px !important;
}

.boardP9{
    grid-template-columns: repeat(3, 93px) !important;
    grid-template-rows: repeat(3, 93px) !important;
}

.boardP9 img{
    width: 90px !important;
    height: 90px !important;
}

#pieces{
    width: 330px;
    height: auto;
    gap: 2%;
    padding: 15px;
    margin: 0 auto;
    display: grid;
    flex-wrap: wrap;
    margin-bottom: 5px;
    grid-template-columns: repeat(3, 105px) !important;
}

#pieces img{
    justify-self: center;
    cursor: pointer;
    box-sizing:border-box;
    width: 100px !important;
    height: auto;
}

.instruction {
    justify-content: center;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding: 0px 40px;
}

.right{
    opacity: 0%;
}

.done{
    opacity: 100%;
}
.final{
    height: 100vh;
    width: 100%;
    text-align: center;
}
.name{
    margin: 10px;
    font-size: 40px;
    font-style: italic;
}
.final .end{
    display: flex;
    margin: 0 auto;
    max-width: 90%;
    margin-bottom: 50px;
}
.tick{
    max-width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.pop{
    background-color: white;
    position: absolute;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pop img{
    width: 60%;
}

.pop p{
    margin: 10px auto;
}

  /*mobile*/
@media screen and (max-width: 767px){
    .startButton, .easy, .normal, .hard, .homeButton, .againButton {
    width: calc(100% - 70px);
    justify-content: center;
    align-items: center;
    }
}

/*ipad*/
@media screen and (min-width: 768px) and (max-width: 1199px){
    .logo{
        max-width: 250px;
    }
    .game-title p{
        font-size: 70px !important;
    }
    .start{
        gap: 125px;
    }
    .selection p{
        font-size: 35px;
        color: #552E00;
    }
    .instruction p {
        font-size: 40px;
    }
    .question{
        font-size: 32px;
    }
    .startButton, .easy, .normal, .hard, .homeButton, .againButton{
        padding: 3% 2.5%;
        max-width: 300px;
    }
    .final .end{
        max-width: 450px;
    }
    .round{
        font-size: 50px;
    }
    .pop p{
        font-size: 40px;
        margin: 10px auto;
    }
    #board{
        width: 510px;
        height: 510px;
        margin: 20px auto;
        gap: 3%;
        display: flex;
        flex-wrap: wrap;
    }

    #pieces{
        width: 700px;
        height: auto;
        gap: 1%;
        padding: 15px 10px;
        margin: 0 auto;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, 230px) !important;
    }

    #pieces img{
        justify-self: center;
        cursor: pointer;
        box-sizing:border-box;
        width: 200px !important;
        height: auto;
    }
    
    .boardP4{
        grid-template-columns: repeat(2, 250px) !important;
        grid-template-rows: repeat(2, 250px) !important;
    }
    
    .boardP4 img{
        width: 247px !important;
        height: 247px !important;
    }
    
    .boardP6{
        grid-template-columns: repeat(3, 165px) !important;
        grid-template-rows: repeat(2, 250px) !important;
    }
    
    .boardP6 img{
        width: 159px !important;
        height: 247px !important;
    }
    
    .boardP9{
        grid-template-columns: repeat(3, 165px) !important;
        grid-template-rows: repeat(3, 165px) !important;
    }
    
    .boardP9 img{
        width: 159px !important;
        height: 159px !important;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
    .start,.selection, .game, .final{
        max-width: 400px;
        margin: 0 auto;
    }
    .startButton, .homeButton, .againButton{
        padding: 5%;
        max-width: 250px;
    }
    .easy, .normal, .hard{
        max-width: 250px;
    }
    .round p{
        margin-top: 0;
    }
    .startButton{
        margin-top: 30px;
    }
    .final .end{
        max-width: 360px;
    }
    .final .end{
        margin-bottom: 20px;
    }
    #pieces img{
        justify-self: center;
        cursor: pointer;
        box-sizing:border-box;
        height: 100px;
        width: auto !important;
    }
}

@media screen and (max-width:767px){
    .endTitle {
      display: none;
    }
  }
